.wrapper {
  --width: 500px;
  display: grid;
  height: 100vh;
  grid-template-columns: var(--width) 1fr;
  grid-template-areas: 'sidebar preview';
}

.sidebar {
  width: var(--width);
  height: 100vh;
  background: #21252b;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: min-content 250px minmax(0, 1fr) 150px;
}

.preview {
  height: 100vh;
  overflow: scroll;
  grid-area: preview;
}

.json,
.mdx {
  caret-color: #fff;
  font-size: 0.75rem;
}

.error {
  width: var(--width);
  color: #fff;
  padding: 1rem;
}
